*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    border: 2px solid;
    border-color:whitesmoke;
    min-height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;

}

.logo-contaoner{
    align-items: center;
    padding-top: 20px;
    

}

.gamer{
    padding-left: 10px;
    
    font-size: 30px;
    
}

.nav-logo{
    display: flex;
    justify-content: space-between;

}

.nav-items{

}

.G{
    color: orangered;

}

.imag{
    width: 40px;
    height: 20px;
}

.items-container{
    display: flex;
    font-size: 12px;
    list-style: none;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.btn{
    background-color: gainsboro;
    border-radius: 3px;
    
}

                       /* nav container finish */
                
 .introduction-parent{
    padding-top: 10px;
    background-color: hotpink;
    display: flex;
    justify-content: space-around;
 }

 .group18{
    width: 400px;
 }

 .in-content{
    padding-top: 120px;

 }

 .play{
    font-size: 25px;
 }

 .goat{
    padding-left: 30px;
    color: cornflowerblue;
 }

 .item{
    list-style: none;
 }

/* done */

.we-are-parent{
    display: flex;
    justify-content: space-around;
    background-color: floralwhite;
}

.pngw4{
    width: 700px;
}

.we-are-content{
    padding-top: 120px;
    
}

.wer-color{
    color: darkviolet;
    font-size: 30px;
}
.dkno-btn{
    padding-left: 75px;
    
}
.kno-btn{


    color: plum;
}

.purpos{
    
}

/* finish */

.online-games-parent{
    padding-top: 19px;
    background-color: ;
}

.images{
    padding-left: 190px;
    display: flex;
    gap: 10px;
    
}

.pic-size{
    width: 200px;
}

.online{
    padding-left: 480px;
    padding-bottom: 20px;
}

.funy{
    color: darkolivegreen;
}